<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if title %}
  <title>{{ title }} - rbac</title>
  {% else %}
  <title>Document</title>
  {% endif %}

</head>
<body>

  <p>
    <a href="{{ url_for('main.index') }}">Home</a>

    {% if current_user.is_authenticated %}
      <a href="{{ url_for('auth.logout') }}">Logout</a>

      {% if current_user.is_administrator %}
      <a href="{{ url_for('main.for_admin') }}">Admin</a>
      <a href="{{ url_for('main.for_user') }}">Users</a>
    {% else %}
      <a href="{{ url_for('main.for_user') }}">Users</a>
    {% endif %}


    {% else %}
      <a href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}

  </p>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}


  {% block content %}{% endblock content %}

</body>
</html>
