{% extends "base.html" %}

{% block content %}

  <h1>{{ user.username }}</h1>

  {% if user.name or user.location %}
  <p>
    {% if user.name %}
      {{user.name}}
    {% endif %}

    {% if user.location %}
      From <a href="http://maps.google.com/?q={{ user.location }}">{{user.location}}</a>
    {% endif %}

    </p>

  {% endif %}

  {% if current_user.is_administrator() %}
    <p>
      <a href="mailto:{{user.email}}">{{ user.email }}</a>
    </p>
  {% endif %}

  {% if user.about_me %}
    <p>{{ user.about_me }}</p>
  {% endif %}

  <p>
    Member since {{ moment(user.member_since).format('LL') }}. <br>
    Last_seen {{ moment(user.last_seen).fromNow() }}
  </p>

  <br>

  {% if current_user.is_administrator()  or user == current_user%}

  {% if current_user.is_administrator() %}
    <a href="{{ url_for('main.edit_profile_admin', id=user.id) }}">
      Edit profile [Admin]
    </a>
  {% elif user == current_user %}
     <a href="{{ url_for('main.edit_profile') }}">
      Edit profile
    </a>
  {% endif %}

  {% endif %}


{% endblock content %}
